@import '../module/private.scss';
@import '../module/variable.scss';
@import '../module/mixins.scss';
@import '../module/functions.scss';

html{
   @extend %smooth;
}
//header
body{
   max-width: $size02;
   margin-top: $size07;
.main{
   @extend %container;
     .cover{
      @extend %background;
     @extend %back-image;
   
     
      .flex{
         @extend %flex-element;
         padding-top: $size04;
         padding-bottom: my-calculation-function($size05, $size03);
         .dreams{
            margin-left: subtract($size05, $size06);
            font-size: my-calculation-function($size04, $size03);
            color: $color1;
            font-family: $font1;
         }
         ul{
            @extend %flex-element;
            text-transform: uppercase;
            font-size: my-calculation-function($size06, $size09);
            margin-right: my-calculation-function($size01, $size04);
            font-family: $font2;
            line-height: $size09;
            li{
               text-decoration: none;
               margin-left: subtract($size08, $size03);
               a{
                  text-decoration: none;
                  color: $color1;
               }
               li:first-child{
                  margin-left: 0;
            }
            li:last-child{
               margin-right: my-calculation-function($size01, $size04);
            }
         }
     }
   }
  .line{
      @extend %line;
      margin-top: my-calculation-function($size03, $size10);
      margin-bottom: $size10;
 }
 .text{
      font-size: my-calculation-function($size09, $size09);
      display: flex;
       justify-content: center;
       align-items: center;
       color: $color1;
       font-family: $font3;
       line-height: my-calculation-function($size09, $size09);
       margin-top: 12px;
 }
    .title h3{
       text-transform: uppercase;
       font-size: 50px;
       display: flex;
      justify-content: center;
      align-items: center;
      color: $color1;
      font-family: $font2;
      line-height: 40px;
      letter-spacing: -4px;
        }
        .bottom{
           margin-top: 28px;
        }
}
     


//section1

.middle{
   margin-top: 49px;
   font-size: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: $font2;
   line-height: 27px;
   letter-spacing: -6px;
}
.coreservices .line{
      @extend %line;
      margin-top: 40px;
      margin-bottom: 70px;
     }
.core-flex{
      @extend %flex-element;
      justify-content: space-around;

   .logo{
      img{
         width: 60px;
         padding-bottom: 35px;
         display: block;
         margin-left: auto;
         margin-right: auto;
         
}
h3{
   margin-bottom: 15px;
   text-align: center;
   font-family: $font3;
   
}
p{
   text-align: center;
   font-family: $font2;
   color: $color3;
   letter-spacing: -1px;
}
}
}

//section2
.section2{
   margin-top: 81px;
   height: 618px;
   background: $color4;
   .right{
      float: right;
      img{
         width: 419px;
      }
   }
   .left{
      float: left;
      margin-left: 155px;
      margin-top: 100px;
      .two{
         @extend %flex-element;
         .icon{
         @extend %flex-element;
         }
      }
   }

}

}
}