@import '../module/private.scss';
@import '../module/variable.scss';
@import '../module/mixins.scss';
@import '../module/functions.scss';

body, html { overflow-x:hidden; }
html{
   @extend %smooth;
   
}
//header
body{
   //max-width: $size02;
   margin-top: $size07;
.main{
   @extend %container;
     .cover{
      @extend %background;
     @extend %back-image;
   
     
      .flex{
         @extend %flex-element;
         padding-top: $size04;
         padding-bottom: my-calculation-function($size05, $size03);
         .dreams{
            margin-left: subtract($size05, $size06);
            font-size: my-calculation-function($size04, $size03);
            color: $color1;
            font-family: $font1;
            font-weight: bold;
         }
         ul{
            @extend %flex-element;
            text-transform: uppercase;
            font-size: my-calculation-function($size06, $size09);
            margin-right: my-calculation-function($size01, $size04);
            font-family: $font2;
            line-height: $size09;
            li{
               text-decoration: none;
               margin-left: subtract($size08, $size03);
               font-weight: bold;
               a{
                  text-decoration: none;
                  color: $color1;
               }
               li:first-child{
                  margin-left: 0;
            }
            li:last-child{
               margin-right: my-calculation-function($size01, $size04);
            }
         }
     }
   }
  .line{
      @extend %line;
      margin-top: my-calculation-function($size03, $size10);
      margin-bottom: $size10;
 }
 .text{
      font-size: my-calculation-function($size09, $size09);
      display: flex;
       justify-content: center;
       align-items: center;
       color: $color1;
       font-family: $font3;
       line-height: my-calculation-function($size09, $size09);
       margin-top: 12px;
       animation-duration: 2s;
       animation-name: typing;
 }
    .title h3{
       text-transform: uppercase;
       font-size: 50px;
       display: flex;
      justify-content: center;
      align-items: center;
      color: $color1;
      font-family: $font2;
      line-height: 40px;
      letter-spacing: -4px;
      font-weight: bold;
      animation-duration: 2s;
      animation-name: slideup;
        }
        .bottom{
           margin-top: 28px;
        }
}
     


//section1

.middle{
   margin-top: 49px;
   font-size: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: $font2;
   line-height: 27px;
   letter-spacing: -6px;
   font-weight: bold;
}
.coreservices .line{
      @extend %line;
      margin-top: 40px;
      margin-bottom: 70px;
     }
.core-flex{
      @extend %flex-element;
      justify-content: space-around;

   .logo{
      img{
         width: 60px;
         padding-bottom: 35px;
         display: block;
         margin-left: auto;
         margin-right: auto;
         
}
img:hover{
   transform: scale(1.5);
}
img:hover + h3{
   display: none;
}
h3{
   margin-bottom: 15px;
   text-align: center;
   font-family: $font3;
   font-weight: bold;
   
}
p{
   text-align: center;
   font-family: $font2;
   color: $color3;
   letter-spacing: -1px;
}
}
}

//section2
.section2{
   margin-top: 81px;
   
   background: $color4;

   .right{
      float: right;
      img{
         width: 419px;
         height: 766px;
      }
   }
   .left{
      float: left;
      margin-left: 155px;
      margin-top: 100px;
      .expertise {
         margin-bottom: 76px;
          h3{
         font-family: $font2;
         font-size: 40px;
         margin-bottom: 49px;
         color: $color5;
         font-weight: bold;
      }
      p{
         font-family: $font3;
         font-size: 16px;
         color: $color6;
      }
   }
      .two{
         @extend %flex-element;
         h3{
            font-family: $font2;
            font-size: 14px;
            color: $color5;
            margin-bottom: 19px;
         }
         p{
            font-family: $font3;
            font-size: 14px;
            color: $color6;
            margin-bottom: 48px;
            
         }
         .icon{
         @extend %flex-element;
         margin-right: 44px;
         
         img{
            height: 23px;
            margin-top: -80px; 
            margin-right: 10px;
      }
         }
      }
   }
   button{
      margin-top:21px;
  margin-left: 155px;
  background-color: white;
  border: 2px solid $color7;
  font-family: $font2;
  font-size: 16px;
  padding: 28.8px 46px ; 
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 41px;
  font-family: $font2;
  font-size: 16px;
  font-weight:bold;
  margin-bottom: 89px;
  transition-duration: 1s;
  button:active {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
 }
   }
   button:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      color: #35C2F8;
   }
   }
//section3
.section3{
margin-top: 120px;
overflow: hidden;

.amazing-portfolio{
   margin-left: 50px;
   font-family: $font2;
   font-size: 40px;
   font-weight: bold;
}
.section3left{
   background-repeat: no-repeat;
      background-image: url(../styles/img/users-icon.png);
      position: absolute;
      left: 50px;
      margin-top: 110px;
      .section3icon{
         display: flex;
         justify-content: flex-start;
         align-items: center;
         img{
            height: 30px;
            margin-right: 16px;
            margin-top: -29px;;
         }
      }
      
      p{
         font-family: $font2;
         font-size: 14px;
         color: #9b9b9b;
      }
      h3{
         font-family: $font2;
         font-size: 16px;
         font-weight: bold;
         padding-top: 20px;

   }
     
      // top: 1923px;
      // width: 584px;
      // height: 423px;
      // z-index: 155;
    }
    .section3right{
       float: right;
    }
 }
    
    
//section4
 .section4{
    margin-top: 80px;
    .three-images{
       display: flex;
       justify-content: flex-start;
       align-items: center;
       overflow: hidden;
       img{
          width: 100/3%;
         // animation-name: jackInTheBox;
         //animation-duration: 3s;
       }
    }
 }



   //section5
   .section5{
      margin-top:100px;
      h3{
         text-align: center;
         font-family: $font2;
         font-weight: bold;
         font-size: 40px;
         margin-bottom: 27px;
         color: #222222;
      }
      .line{
         @extend %line;
         margin-bottom: 83px;
      }
      .circles{
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         align-items: center;
         margin-bottom: 105px;
      .circle{
         position: relative; 
         border: 8px solid #f1f1f1;
          border-radius: 100%; 
          width: 200px; 
          //line-height: 50px;
          height: 200px;
         text-align: center;
         margin-top: 98px; 
         background-color: #f1f1f1;
         z-index: 2;
         p{
            color: white;
            font-family: $font2;
            font-size: 16px;
            margin-top: 25%;
         }
      }
         .circle:before {
            position: absolute;
            border: 2px solid #f1f1f1;
            width: 0;
            height: 110px; 
            display: block; 
            content: '';
            left: 50%;
            z-index: 1; 
            top: -110px;
            margin-left: -1px;
         }
            .circle:first-child:before {
               display: none;
            }

            .circle:first-child {margin-top: 0;}
   }
   .circle:last-child{
      background-color: #35C2F8;
   }

   .circle img:hover{
      animation-name: jello;
      animation-duration: 2s;
   }

   .circletext{
      h3{
         font-size: 14px;
         font-family: $font2;
         font-weight: bold;
         
      }
      p{
         color: #929292;
         font-family: $font3;
         font-size: 14px;
      }
   }

      .circletext1  {
         margin-bottom: 135px;
         text-align: right;
      }
      .circletext2 {
         margin-bottom: 140px;
         text-align: left;
      }
      .circletext3{
         margin-bottom: 140px;
         text-align: right;
      }
      .circletext4{
         text-align: left;
      }
   }

   //section6
   .section6{
      background: $color4;
      height: inherit;
      padding-top: 100px;
      h3{
         text-align: center;
         font-family: $font2;
         font-weight: bold;
         font-size: 40px;
         margin-bottom: 34px;
         color: #222222;
      }
      .line{
         @extend %line;
         margin-bottom: 80px;
      }
      .dots{
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-right:310px;
         margin-left:310px;
   
      .dot {
         height: 220px;
         width: 219px;
         background-color: black;
         border-radius: 50%;
      .Name{
         img:hover{
            transform: scale(1.1);
         }
      }
      }
       .social-media{
        margin-left:50px;
      }
      .social-media3{
         margin-left:60px;
       }
      h3{
         font-size: 14px;
         font-family: $font2;
         color: black;
         text-align: center;
         margin-top: 10px;
      }
      p{
         text-align: center;
         color: #9b9b9b;
         font-size: 12px;
         font-family: $font3;
         margin-top: -28px;
      }
   }

   // .professions{
   //    display: flex;
   //    justify-content: space-between;
   //    align-items: center;
   //    margin-left: 350px;
   //     margin-right: 364px;
   //     margin-bottom: 70px;
   //    //  .social-media:nth-child(3){
   //    //     margin-left:22px;
   //    //   }
   //    // .social-media3{
   //    //    margin-left:10px;
   //    // }
   //    // h3{
   //    //    font-size: 14px;
   //    //    font-family: $font2;
   //    //    color: black;
   //    //    text-align: center;
   //    // }
   //    // p{
   //    //    text-align: center;
   //    //    color: #9b9b9b;
   //    //    font-size: 12px;
   //    //    font-family: $font3;
   //    //    margin-top: -28px;
   //    // }
   // }
   .grey-text{
         text-align: center;
         color: #9b9b9b;
         font-family: $font3;
         font-size: 14px;
         margin-top: 130px;
         padding-bottom: 105px;
   }
   }
//section7
.section7{
   background-color: #111111;
   height: 640px;
   margin-top: -20px;
   padding-top: 100px;
   padding-left: 227px;
   .lastleft{
      float: left;
      h3{
         font-family: $font2;
         font-size: 40px;
         color: white;
      }
      p{
         font-family: $font3;
         font-size: 12px;
         color: white;
      }
      .lasttwo{
         display: flex;
         justify-content: space-between;
         align-items: center;
   
      .contact{
         margin-bottom: 12px;
         i{
            display: inline-block;
            color: white;
            width: 38px;
            
         }
         i:hover{
            transform: scale(1.5);
           
         }
         p{
            display: inline-block;
            font-size: 14px;
            font-family: $font3;
           
         }
        
      }
   }
form{
   float: right;
   width: 438px;
   overflow: hidden;
   margin-right: 227px;
}
}

   button{
   margin-left:383px;
   cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 41px;
  font-family: $font2;
  font-size: 16px;
  font-weight:bold;
  padding: 21px;
  background-color: #44cbff;
  margin-top: 21px;
   }
 button:active {
   box-shadow: 0 5px #666;
   transform: translateY(4px);
 } 
   button:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
     transform: scale(1.2);
   }

.line{
   width: 1000px;
   height: 1px;
   border-bottom: 1.5px solid white;
   margin-bottom: 30px;
   margin-top: 60px;
   display: block;
   margin-left: -5px;;
   margin-right: auto;
}
.sentence{
   text-align:center;
   font-family: $font3;
   font-size: 12px;
   color: white;
   margin-left: -130px;
   display: block;
}
}

//responsives
@media only screen and (max-width: 1344px) {
   .section2{
      .right{
         width: 300px;
 }
 }
 }
@media only screen and (max-width: 1225px) {
.section2{
   .right{
      width: 200px;
   }
}

}
@media only screen and (max-width: 1125px) {
   .section2{
      .left{
         margin-left: 50px;
      }
   }
   .section3{
      .section3left{
         margin-left:20px;
         p{
            font-size: 12px;
         }
      }
      .section3right{
         img{
            width: 550px;
         }
      }
   }
   .section4{
      img{
         width: 33.3%;
      }
   }
   .Name{
      
      img{
         width: 28px;
      }
      h3{
         font-size: 9px;
      }
   }
   .section7{
      padding-left: 120px;
      .line{
         width: 890px;
      }
   }
   .section6{
      .dots{
         margin-left: 235px;
      }
   }

}



@media (min-width:1070px) and (max-width:1400px){
   .cover{
      background-attachment: fixed;
   }
}

@media only screen and (max-width: 1070px) {
   .section6{
      .dots{
         margin-left: 190px;
      }
   }
   .section3right{
      width: 450px;
   }
   .flex{
      margin-left: -85px;
   }
   .section7{
      .line{
         width: 780px;
      }
   }


}

@media only screen and (max-width: 1038px) {
   .section6{
      .dots{
         margin-left: 160px;
      }
   }
   .section2{
      height: 780px;
      .left{
      .two{
         .icon{
            p{
              font-size: 10px;
            }
         }
      }
      }
   }
}

@media only screen and (max-width: 965px){
   .section6{
      .dots{
         margin-left: 130px;
      }
   }
   .section3right{
      width: 350px;
   }
   #dontshow{
      display: none;
   }
}
@media only screen and (max-width: 920px){
   .section6{
      .dots{
         margin-left: 140px;
      }
   }
   .flex{
      margin-left: -120px;
   }
   .coreservices{
      .core-flex{
         .logo{
            p{
               font-size: 13px;
            }
         }
      }
   }
   #move{
      margin-left: 10px;
   }
}

@media only screen and (max-width: 893px){
   .section6{
      .dots{
         margin-left: 120px;
      }
   }
   .section5{
      .circles{
         .circletext{
            p{
               font-size: 12px;
            } 
         }
      }
   }


}

@media only screen and (max-width: 879px){
   .section2{
      .left{
         .expertise{
            h3{
               font-size: 24px;
            }
            p{
               font-size: 14px;
            }
         }
      }
      .right{
         width: 170px;
      }
   }
.cover{
   .flex{
      ul{
         font-size: 12px;
      }
   }
}
.section3right{
   width: 250px;
}
}

@media only screen and (max-width: 838px){
   .coreservices{
      .core-flex{
         h3{
            font-size: 16px;
         }
      }
   }

.section7{
   .lastleft{
      .lastflex{
         .lasttwo{
            .contact{
               p{
                  font-size: 12px;
               }
            }
         }
      }
   }
   }
.section2{
   button{
      margin-top: 230px;
   }
   .right{
      img{
         float: right;
         width: 180px;
      }
   }
   .left{
      .two{
         display: block;
         .icon{
            margin-right: 258px;
            img{
               margin-top: -13px;
            }
            p{
               display: none;
            }
         }
      }
   }
}

.cover{
   .flex{
      nav{
         ul{
            li{
               margin-left: 45px;
            }
         }
      }
   }
}


.section5{
   .circles{
         .circletext1{
            margin-left: 30px;
      }
      .circletext2{
         margin-right: 30px;
         margin-top: -40px;
      }
      .circletext3{
         margin-left: 30px;
         margin-top: -110px;
      }
      .circletext4{
         margin-right: 30px;
         margin-top: -110px;
      }

   }
}
.section6{
   .dots{
      margin-left: 100px;
   }
}
.section3{
   .section3left{
      margin-left: -30px;
   }
}

}

@media only screen and (max-width: 795px){
   .section6{
      .dots{
         margin-left: 80px;
      }
   }
   .section5{
      .circletext{
         p{
            display: none;
         }
         h3{
            margin-top: 350px;
         }
         .circletext1{
            h3{
               margin-top: 20px;
            }
         }
      }
   }
}

@media only screen and(max-width: 750px){
   .section6{
      .dots{
         margin-left: 35px;
      }
   }
   .section2{
      .left{
         .expertise{
            p{
               display: none;
            }
         }
      }
   }
   .cover{
      .flex{
         nav{
            ul{
               li{
                  margin-left: 28px;
               }
            }
         }
      }
   }
   
}

@media only screen and(max-width: 710px){
   .section2{
      button{
         transform: scale(0.8);
         margin-left: 50px;
      }
      .left{
         margin-right: -80px;
      }
   }
   .section6{
      .dots{
        transform: scale(0.85);
      }
   }
   .section7{
   padding-left: 30px;
   }
}

@media only screen and (max-width: 695px){
   .section5{
      .circletext{
         .circletext1{
            margin-left: 180px;
         }
         .circletext2{
            margin-right: 180px;
            margin-top: -100px;
         }
         .circletext3{
            margin-left: 180px;
            
         }
         .circletext4{
            margin-right: 180px;
            
         }
      }
   }
   
   .section7{
      .line{
         width: 600px;
      }
   }
}

@media only screen and(max-width: 640px){
   .section3left{
      background-size: 400px;
   }
   .section7{
      button {
        
         transform: scale(0.8);
      }
   }
   .cover{
      .flex{
         nav{
            ul{
               li{
                  margin-left: 18px;
               }
            }
         }
      }
   }
.section2{
   .left{
      margin-right: -213px;
   }
}
.section6{
   .dots{
      margin-left: 5px;
   }
}
}

//600
@media only screen and(max-width: 580px){
   .section6{
      .dots{
         transform: scale(0.65);
      }
   }
   .cover{
      .flex{
         nav{
            ul{
               li{
                  margin-left: 10px;
               }
            }
         }
      }
   }
.section7{
   height: inherit;
   .lastleft{
      float: none;
      .lastflex{
         margin-right: 200px;
      }
   }
   
}

.cover{
   .title{
      h3{
         font-size: 35px;
      }
   }
}


} 

@media only screen and(max-width: 550px){
   .lastflex{
      margin-right: 100px;
   }
   .d-inline-block{
      margin-left: -150px;
   }
   .section5{
      .circles{
            transform: scale(0.8);
      }
   }


.section7{
   .lastleft{
      .lastflex{
         display: flex;
         justify-content: space-between;
         margin-right: 50px;
         .lasttwo{
            display: block;
            .contact{
               p{
                  display: none;
               }
               i{
                  transform: scale(1.8);
               }
            }
         }
      }
   }
}

.cover{
   .flex{
         .dreams{
         font-size: 25px;
         
         }
      }
   }


.section3left{
   background-size: 300px;
   margin-top: 30px;
}

}

@media only screen and (max-width: 498px){
   .section6{
      .dots{
        flex-direction: column;
        margin-left: 50%;
        margin-top: -170px;
        .dot{
           margin-bottom: 100px;
        }
      }
   }
   .section7{
      form{
         margin-left: -20px;
      }
   }
   .section2{
      button{
         margin-left: 10px;
         margin-top: 100px;
      }
      .left{
         margin-right: -320px;
         margin-left: 10px;
      }
      .right{
         img{
            width: 150px;
         }
      }
   }
   .cover{
      .text{     
         font-size: 16px; 
         
      }
      .title{
         margin-top: -110px;
      }
      .flex{
         nav{
            ul{
               flex-direction: column;
               li{
                  margin-bottom: 20px;
               }
            }
         }
      }
   }
.section3{
   .section3left{
      margin-top: 10px;
   }
}
.section5{
   .circles{
      margin-top: -100px;
   }
}

}
//
@media only screen and(max-width: 400px){
   
   .section3{
      .section3left{
         background: none;
      }
   }
   .section2{
      height: inherit;
      .right{
         img{
            height: 500px;
         }
      }
      button{
         margin-top: 0;
         margin-left: 0;
         transform: scale(0.5)
      }
   }
}
//370
@media only screen and(max-width: 378px){
   .cover{
      .text{     
         font-size: 13px;      
      }
      .title{
         h3{
            font-size: 25px;
         }

      }
      
   }
.section3{
   .section3left{
      .section3icon{
         p{
            display: none;
         }
      }
   }
}
.section2{
   .left{
      .two{
         .icon{
            margin-left: 30px;
            img{
               margin-bottom: 23px;
               transform: scale(1.3);
            }
            h3{
               display: none;
            }
         }
      }
   }
}
.section7{
   button{
      margin-left: -250px;
   }
}
.coreservices{
   .middle{
   
         font-size: 38px;
   
   }
}
.section5{
   .circles{
      .circletext{
         .circletext1{
            margin-left: 300px;
         }
      }
   }
}
}



}

}

   