//size
  $size01:100px;
  $size02:1400px;
  $size03:1px;
  $size04:35px;
  $size05:160px;
  $size06:4px;
  $size07:-12px;
  $size08: 60px;
  $size09: 10px;
  $size10: 38px;

  //colors
  $color1: #ffffff;
  $color2: #35C2F8;
  $color3: #888888;
  $color4: #f7f7f7; 

  //fonts
  $font1: Font;
  $font2: 'Montserrat', sans-serif;
  $font3: 'Noto Sans', sans-serif;
