/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body .main .cover .flex, body .main .cover .flex ul, body .main .section2 .left .two, body .main .section2 .left .two .icon {
  display: flex;
  justify-content: space-between;
  align-items: center; }

body .main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

body .main .cover {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

@font-face {
  font-family: Font;
  src: url("../styles/fonts/Bello Script/Bello Script.ttf"); }

html {
  scroll-behavior: smooth; }

body {
  max-width: 1400px;
  margin-top: -12px; }
  body .main .cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../styles/img/dreams.bmp");
    margin: 0 auto;
    opacity: 75%;
    height: 645px; }
    body .main .cover .flex {
      padding-top: 35px;
      padding-bottom: 161px; }
      body .main .cover .flex .dreams {
        margin-left: 156px;
        font-size: 36px;
        color: #ffffff;
        font-family: Font; }
      body .main .cover .flex ul {
        text-transform: uppercase;
        font-size: 14px;
        margin-right: 135px;
        font-family: 'Montserrat', sans-serif;
        line-height: 10px; }
        body .main .cover .flex ul li {
          text-decoration: none;
          margin-left: 59px; }
          body .main .cover .flex ul li a {
            text-decoration: none;
            color: #ffffff; }
          body .main .cover .flex ul li li:first-child {
            margin-left: 0; }
          body .main .cover .flex ul li li:last-child {
            margin-right: 135px; }
    body .main .cover .line {
      width: 110px;
      height: 1px;
      border-bottom: 1px solid #35C2F8;
      margin-bottom: 53px;
      display: block;
      margin-top: 39px;
      margin-bottom: 38px;
      margin-left: auto;
      margin-right: auto; }
    body .main .cover .text {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-family: 'Noto Sans', sans-serif;
      line-height: 20px;
      margin-top: 12px; }
    body .main .cover .title h3 {
      text-transform: uppercase;
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      line-height: 40px;
      letter-spacing: -4px; }
    body .main .cover .bottom {
      margin-top: 28px; }
  body .main .middle {
    margin-top: 49px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 27px;
    letter-spacing: -6px; }
  body .main .coreservices .line {
    width: 110px;
    height: 1px;
    border-bottom: 1px solid #35C2F8;
    display: block;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto; }
  body .main .core-flex {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    body .main .core-flex .logo img {
      width: 60px;
      padding-bottom: 35px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    body .main .core-flex .logo h3 {
      margin-bottom: 15px;
      text-align: center;
      font-family: 'Noto Sans', sans-serif; }
    body .main .core-flex .logo p {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      color: #888888;
      letter-spacing: -1px; }
  body .main .section2 {
    margin-top: 81px;
    height: 618px;
    background: #f7f7f7; }
    body .main .section2 .right {
      float: right; }
      body .main .section2 .right img {
        width: 419px; }
    body .main .section2 .left {
      float: left;
      margin-left: 155px;
      margin-top: 100px; }
