/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body .main .cover .flex, body .main .cover .flex ul, body .main .core-flex, body .main .section2 .left .two, body .main .section2 .left .two .icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

html {
  scroll-behavior: smooth; }

body .main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

body .main .cover {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

body .main .cover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../styles/img/dreams.bmp");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../styles/img/dreams.bmp");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../styles/img/dreams.bmp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../styles/img/dreams.bmp");
  margin: 0 auto;
  opacity: 75%;
  height: 645px; }

body .main .cover .line, body .main .coreservices .line, body .main .section5 .line, body .main .section6 .line {
  width: 110px;
  height: 1px;
  border-bottom: 1px solid #35C2F8;
  margin-bottom: 53px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

@font-face {
  font-family: Font;
  src: url("../styles/fonts/Bello Script/Bello Script.ttf"); }

@-webkit-keyframes slideup {
  from {
    margin-left: 100%;
    width: 300%; }
  50% {
    color: grey; }
  to {
    margin-left: 0%;
    width: 100%; } }

@keyframes slideup {
  from {
    margin-left: 100%;
    width: 300%; }
  50% {
    color: grey; }
  to {
    margin-left: 0%;
    width: 100%; } }

@-webkit-keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@-webkit-keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
    transform: skewX(0.39063deg) skewY(0.39063deg); }
  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg); } }

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
    transform: skewX(0.39063deg) skewY(0.39063deg); }
  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg); } }

@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom; }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom; }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

body {
  max-width: 1400px;
  margin-top: -12px; }
  body .main .cover .flex {
    padding-top: 35px;
    padding-bottom: 161px; }
    body .main .cover .flex .dreams {
      margin-left: 156px;
      font-size: 36px;
      color: #ffffff;
      font-family: Font;
      font-weight: bold; }
    body .main .cover .flex ul {
      text-transform: uppercase;
      font-size: 14px;
      margin-right: 135px;
      font-family: "Montserrat", sans-serif;
      line-height: 10px; }
      body .main .cover .flex ul li {
        text-decoration: none;
        margin-left: 59px;
        font-weight: bold; }
        body .main .cover .flex ul li a {
          text-decoration: none;
          color: #ffffff; }
        body .main .cover .flex ul li li:first-child {
          margin-left: 0; }
        body .main .cover .flex ul li li:last-child {
          margin-right: 135px; }
  body .main .cover .line {
    margin-top: 39px;
    margin-bottom: 38px; }
  body .main .cover .text {
    font-size: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    line-height: 20px;
    margin-top: 12px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: typing;
    animation-name: typing; }
  body .main .cover .title h3 {
    text-transform: uppercase;
    font-size: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
    letter-spacing: -4px;
    font-weight: bold;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: slideup;
    animation-name: slideup; }
  body .main .cover .bottom {
    margin-top: 28px; }
  body .main .middle {
    margin-top: 49px;
    font-size: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    line-height: 27px;
    letter-spacing: -6px;
    font-weight: bold; }
  body .main .coreservices .line {
    margin-top: 40px;
    margin-bottom: 70px; }
  body .main .core-flex {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    body .main .core-flex .logo img {
      width: 60px;
      padding-bottom: 35px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    body .main .core-flex .logo img:hover {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5); }
    body .main .core-flex .logo img:hover + h3 {
      display: none; }
    body .main .core-flex .logo h3 {
      margin-bottom: 15px;
      text-align: center;
      font-family: "Noto Sans", sans-serif;
      font-weight: bold; }
    body .main .core-flex .logo p {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      color: #888888;
      letter-spacing: -1px; }
  body .main .section2 {
    margin-top: 81px;
    background: #f7f7f7; }
    body .main .section2 .right {
      float: right; }
      body .main .section2 .right img {
        width: 419px;
        height: 766px; }
    body .main .section2 .left {
      float: left;
      margin-left: 155px;
      margin-top: 100px; }
      body .main .section2 .left .expertise {
        margin-bottom: 76px; }
        body .main .section2 .left .expertise h3 {
          font-family: "Montserrat", sans-serif;
          font-size: 40px;
          margin-bottom: 49px;
          color: #222222;
          font-weight: bold; }
        body .main .section2 .left .expertise p {
          font-family: "Noto Sans", sans-serif;
          font-size: 16px;
          color: #777777; }
      body .main .section2 .left .two h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: #222222;
        margin-bottom: 19px; }
      body .main .section2 .left .two p {
        font-family: "Noto Sans", sans-serif;
        font-size: 14px;
        color: #777777;
        margin-bottom: 48px; }
      body .main .section2 .left .two .icon {
        margin-right: 44px; }
        body .main .section2 .left .two .icon img {
          height: 23px;
          margin-top: -80px;
          margin-right: 10px; }
    body .main .section2 button {
      margin-top: 21px;
      margin-left: 155px;
      background-color: white;
      border: 2px solid #ceeefa;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      padding: 28.8px 46px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      -webkit-border-radius: 41px;
      border-radius: 41px;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 89px;
      -webkit-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s; }
      body .main .section2 button button:active {
        background-color: #3e8e41;
        -webkit-box-shadow: 0 5px #666;
        box-shadow: 0 5px #666;
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px); }
    body .main .section2 button:hover {
      -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      color: #35C2F8; }
  body .main .section3 {
    margin-top: 120px;
    overflow: hidden; }
    body .main .section3 .amazing-portfolio {
      margin-left: 50px;
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      font-weight: bold; }
    body .main .section3 .section3left {
      background-repeat: no-repeat;
      background-image: url(../styles/img/users-icon.png);
      position: absolute;
      left: 50px;
      margin-top: 110px; }
      body .main .section3 .section3left .section3icon {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        body .main .section3 .section3left .section3icon img {
          height: 30px;
          margin-right: 16px;
          margin-top: -29px; }
      body .main .section3 .section3left p {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: #9b9b9b; }
      body .main .section3 .section3left h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: bold;
        padding-top: 20px; }
    body .main .section3 .section3right {
      float: right; }
  body .main .section4 {
    margin-top: 80px; }
    body .main .section4 .three-images {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden; }
      body .main .section4 .three-images img {
        width: 100/3%; }
  body .main .section5 {
    margin-top: 100px; }
    body .main .section5 h3 {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 27px;
      color: #222222; }
    body .main .section5 .line {
      margin-bottom: 83px; }
    body .main .section5 .circles {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 105px; }
      body .main .section5 .circles .circle {
        position: relative;
        border: 8px solid #f1f1f1;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        width: 200px;
        height: 200px;
        text-align: center;
        margin-top: 98px;
        background-color: #f1f1f1;
        z-index: 2; }
        body .main .section5 .circles .circle p {
          color: white;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          margin-top: 25%; }
      body .main .section5 .circles .circle:before {
        position: absolute;
        border: 2px solid #f1f1f1;
        width: 0;
        height: 110px;
        display: block;
        content: '';
        left: 50%;
        z-index: 1;
        top: -110px;
        margin-left: -1px; }
      body .main .section5 .circles .circle:first-child:before {
        display: none; }
      body .main .section5 .circles .circle:first-child {
        margin-top: 0; }
    body .main .section5 .circle:last-child {
      background-color: #35C2F8; }
    body .main .section5 .circle img:hover {
      -webkit-animation-name: jello;
      animation-name: jello;
      -webkit-animation-duration: 2s;
      animation-duration: 2s; }
    body .main .section5 .circletext h3 {
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold; }
    body .main .section5 .circletext p {
      color: #929292;
      font-family: "Noto Sans", sans-serif;
      font-size: 14px; }
    body .main .section5 .circletext1 {
      margin-bottom: 135px;
      text-align: right; }
    body .main .section5 .circletext2 {
      margin-bottom: 140px;
      text-align: left; }
    body .main .section5 .circletext3 {
      margin-bottom: 140px;
      text-align: right; }
    body .main .section5 .circletext4 {
      text-align: left; }
  body .main .section6 {
    background: #f7f7f7;
    height: inherit;
    padding-top: 100px; }
    body .main .section6 h3 {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 34px;
      color: #222222; }
    body .main .section6 .line {
      margin-bottom: 80px; }
    body .main .section6 .dots {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 310px;
      margin-left: 310px; }
      body .main .section6 .dots .dot {
        height: 220px;
        width: 219px;
        background-color: black;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: inline-block; }
    body .main .section6 .professions {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 350px;
      margin-right: 364px;
      margin-bottom: 70px; }
      body .main .section6 .professions .social-media3 {
        margin-left: 10px; }
      body .main .section6 .professions h3 {
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        color: black;
        text-align: center; }
      body .main .section6 .professions p {
        text-align: center;
        color: #9b9b9b;
        font-size: 12px;
        font-family: "Noto Sans", sans-serif;
        margin-top: -28px; }
    body .main .section6 .grey-text {
      text-align: center;
      color: #9b9b9b;
      font-family: "Noto Sans", sans-serif;
      font-size: 14px;
      padding-bottom: 105px; }
  body .main .section7 {
    background-color: #111111;
    height: 640px;
    margin-top: -20px;
    padding-top: 100px;
    padding-left: 227px; }
    body .main .section7 .lastleft {
      float: left; }
      body .main .section7 .lastleft h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        color: white; }
      body .main .section7 .lastleft p {
        font-family: "Noto Sans", sans-serif;
        font-size: 12px;
        color: white; }
      body .main .section7 .lastleft .lasttwo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        body .main .section7 .lastleft .lasttwo .contact {
          margin-bottom: 12px; }
          body .main .section7 .lastleft .lasttwo .contact i {
            display: inline-block;
            color: white;
            width: 38px; }
          body .main .section7 .lastleft .lasttwo .contact i:hover {
            -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5); }
          body .main .section7 .lastleft .lasttwo .contact p {
            display: inline-block;
            font-size: 14px;
            font-family: "Noto Sans", sans-serif; }
      body .main .section7 .lastleft form {
        float: right;
        width: 438px;
        overflow: hidden;
        margin-right: 227px; }
    body .main .section7 .d-inline-block button {
      margin-left: 383px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      -webkit-border-radius: 41px;
      border-radius: 41px;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: bold;
      padding: 21px;
      background-color: #44cbff;
      margin-top: 21px; }
    body .main .section7 .line {
      width: 1000px;
      height: 1px;
      border-bottom: 1.5px solid white;
      margin-bottom: 30px;
      margin-top: 60px;
      display: block;
      margin-left: -5px;
      margin-right: auto; }
    body .main .section7 .sentence {
      text-align: center;
      font-family: "Noto Sans", sans-serif;
      font-size: 12px;
      color: white;
      margin-left: -130px;
      display: block; }
  @media only screen and (max-width: 1344px) {
    body .main .section2 .right {
      width: 300px; } }
  @media only screen and (max-width: 1225px) {
    body .main .section2 .right {
      width: 200px; } }
  @media only screen and (max-width: 1125px) {
    body .main .section2 .left {
      margin-left: 50px; }
    body .main .section3 .section3left {
      margin-left: 20px; }
      body .main .section3 .section3left p {
        font-size: 12px; }
    body .main .section3 .section3right img {
      width: 550px; }
    body .main .section4 img {
      width: 33.3%; }
    body .main .Name img {
      width: 28px; }
    body .main .Name h3 {
      font-size: 9px; }
    body .main .section7 {
      padding-left: 120px; }
      body .main .section7 .line {
        width: 890px; } }
  @media only screen and (max-width: 1070px) {
    body .main .section3right {
      width: 450px; }
    body .main .flex {
      margin-left: -85px; }
    body .main .section7 .line {
      width: 780px; }
    body .main .section6 .professions {
      margin-right: 323px;
      margin-left: 315px; } }
  @media only screen and (max-width: 1038px) {
    body .main .section2 {
      height: 780px; }
      body .main .section2 .left .two .icon p {
        font-size: 10px; } }
  @media only screen and (max-width: 965px) {
    body .main .section3right {
      width: 350px; }
    body .main #dontshow {
      display: none; } }
  @media only screen and (max-width: 920px) {
    body .main .flex {
      margin-left: -120px; }
    body .main .coreservices .core-flex .logo p {
      font-size: 13px; }
    body .main #move {
      margin-left: 10px; } }
  @media only screen and (max-width: 893px) {
    body .main .Name img {
      display: none; }
    body .main .section5 .circles .circletext p {
      font-size: 12px; } }
  @media only screen and (max-width: 879px) {
    body .main .section2 .left .expertise h3 {
      font-size: 24px; }
    body .main .section2 .left .expertise p {
      font-size: 14px; }
    body .main .section2 .right {
      width: 170px; }
    body .main .cover .flex ul {
      font-size: 12px; }
    body .main .section3right {
      width: 250px; } }
  @media only screen and (max-width: 838px) {
    body .main .coreservices .core-flex h3 {
      font-size: 16px; }
    body .main .section6 .professions h3 {
      font-size: 12px; }
    body .main .section7 .lastleft .lastflex .lasttwo .contact p {
      font-size: 12px; }
    body .main .section2 button {
      margin-top: 230px; }
    body .main .section2 .right img {
      float: right;
      width: 180px; }
    body .main .section2 .left .two {
      display: block; }
      body .main .section2 .left .two .icon {
        margin-right: 258px; }
        body .main .section2 .left .two .icon img {
          margin-top: -13px; }
        body .main .section2 .left .two .icon p {
          display: none; }
    body .main .cover .flex nav ul li {
      margin-left: 45px; }
    body .main .section5 .circles .circletext1 {
      margin-left: 30px; }
    body .main .section5 .circles .circletext2 {
      margin-right: 30px;
      margin-top: -40px; }
    body .main .section5 .circles .circletext3 {
      margin-left: 30px;
      margin-top: -110px; }
    body .main .section5 .circles .circletext4 {
      margin-right: 30px;
      margin-top: -110px; }
    body .main .section6 .dots {
      margin-left: 270px;
      margin-right: 270px; }
    body .main .section6 .professions {
      margin-right: 280px;
      margin-left: 280px; }
    body .main .section3 .section3left {
      margin-left: -30px; } }
  @media only screen and (max-width: 795px) {
    body .main .section5 .circletext p {
      display: none; }
    body .main .section5 .circletext h3 {
      margin-top: 350px; }
    body .main .section5 .circletext .circletext1 h3 {
      margin-top: 20px; } }
  @media only screen and (max-width: 750px) {
    body .main .section2 .left .expertise p {
      display: none; }
    body .main .cover .flex nav ul li {
      margin-left: 28px; } }
  @media only screen and (max-width: 710px) {
    body .main .section2 button {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
      margin-left: 50px; }
    body .main .section2 .left {
      margin-right: -80px; }
    body .main .section6 .professions {
      margin-left: 260px; }
    body .main .section7 {
      padding-left: 30px; } }
  @media only screen and (max-width: 695px) {
    body .main .section5 .circletext .circletext1 {
      margin-left: 180px; }
    body .main .section5 .circletext .circletext2 {
      margin-right: 180px;
      margin-top: -100px; }
    body .main .section5 .circletext .circletext3 {
      margin-left: 180px; }
    body .main .section5 .circletext .circletext4 {
      margin-right: 180px; }
    body .main .section6 .dots {
      margin-left: 190px;
      margin-right: 190px; }
    body .main .section6 .professions {
      display: none; }
    body .main .section7 .line {
      width: 600px; } }
  @media only screen and (max-width: 640px) {
    body .main .section3left {
      -webkit-background-size: 400px 400px;
      background-size: 400px; }
    body .main .section7 .d-inline-block {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8); }
    body .main .cover .flex nav ul li {
      margin-left: 18px; }
    body .main .section2 .left {
      margin-right: -213px; } }
